<%- include("header"); -%>

<h1>Couldn't log in. Please try again</h1>

<button type="button" class="btn btn-primary"><a class="error_btn" href="/">Back to login</a></button>

<%- include("footer"); -%>
